{% extends "master.html" %}

{% block title %}
add a new bookmark
{% endblock %}

{% block content %}
<h2>add a new bookmark</h2>
<p>
    <em>Description</em> is how your your bookmark will be identified
</p>
<form action="/addbmark" method="POST">
    {% if form.errors %}
    <div id="error">
    {{ form.description.errors }}
    {{ form.name.errors }}
    </div>
    {% endif %}
    <p>
        {{ form.description.label }} {{ form.description }}
        <input type="submit" value="add" />
    </p>

</form>
{% endblock %}