{% extends "master.html" %}

{% block title %}
catching '{{ bmark_desc }}'
{% endblock %}

{% block content %}
<h2>{{ bmark_desc }}</h2>
<p>
<ul>
{% for stop in stops %}
    <li>
        <p>
            <strong>{{ stop.route }} @ {{ stop.stop }}</strong><br />
            {% for time in stop.times %}
            {% if forloop.first %}
                <strong>{{ time }}</strong>
            {% else %}
                , {{ time }}
            {% endif %}
            {% if forloop.last %}
                minutes
            {% endif %}
            {% empty %}
            No times available
            {% endfor %}
        </p>
    </li>
{% endfor %}
</ul>
</p>
{% endblock %}