{% extends "master.html" %}

{% block title %}
catching '{{ point_desc }}'
{% endblock %}

{% block content %}
<h2>{{ point_desc }}</h2>
<p>
<ul>
{% for route, stop, times in stops %}
    <li>
    <h3>{{ route }}/{{ stop }}</h3>
    {% for time in times %}
    {% if forloop.first %}
        <strong>{{ time }}</strong>
    {% else %}
        , {{ time }}
    {% endif %}
    {% if forloop.last %}
        minutes
    {% endif %}
    {% empty %}
    No times available
    {% endfor %}
    </li>
{% endfor %}
</ul>
</p>
{% endblock %}