body {
    font-family: Arial, Verdana, 'Sans Serif', Sans;
    margin: 0;
}
input[type="text"] {
    font-size: 112.5%;
    padding: 0 .125em;
}
p, h1, h2, h3 {
    padding: 0 1em;
    margin-left: 0;
    margin-right: 0;
}
a {
    color: inherit;
}
ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #dfdfdf;
}
ul li {
    list-style: none;
    border-bottom: 1px solid #dfdfdf;
}
ul li a {
    padding: 1em;
    text-decoration: none;
    display: block;
    font-weight: bold;
}
#authbar {
    padding: .5em 1em;
    background: #444444;
    color: #dfdfdf;
}
#navbar {
    background: #dfdfdf;
    color: #444444;
    padding: 0 1em;
}
#navbar a {
    line-height: 2em;
    padding: .25em .5em;
    background-color: #c0c0c0;
    text-decoration: none;
}
#error {
    background: #ffcccc;
    color: #880000;
    padding: .5em 1em;
}
#error ul, #error ul li {
    border: none;
}
a.action {
    float: right;
}