<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta id="viewport" name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <link rel="stylesheet" type="text/css" href="/static/css/yourmuni.css" />
	<title>yourmuni :: {% block title%}home{% endblock %}</title>
	
</head>

<body>
    <div id="authbar">
        {% if user %}
        welcome, {{ user }} [ <a href="/logout">log out</a> ]
        {% else %}
        welcome, stranger! [ <a href="/login">log in</a> ]
        {% endif %}
    </div>

    {% if links %}
    <div id="navbar">
    {% for link in links %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        {% if not forloop.last %}
            | 
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}

    {% if error %}
    <div class="error">{{ error }}</div>
    {% endif %}
    
{% block content %}


{% endblock %}
</body>
</html>
