{% extends "master.html" %}
{% block title %}
easier commuting
{% endblock %}
{% block content %}

<div id="authbar">
    Welcome, stranger! [ <a href="/login">sign in</a> ]
</div>

<p>To use <strong>yourmuni</strong>, please <a href="/login">sign in</a>.</p>
    
<p><strong>yourmuni</strong> aims to take stress out of your San Francisco 
    commute (maybe other cities later?)</p>
<p><strong>yourmuni</strong> is currently totally in beta, so expect things
    to be broken frequently :)</p>
{% endblock %}